.lv-intro-wrapper {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: 55% 45%;
}

.lv-intro-col2Me {
  margin-top: 6vw;
  width: 80%;
  height: auto;
}

.lv-intro-col1 {
  display: flex;
  height: 13vw;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 11vw;
}

.lv-intro-col1row1txt1 {
  color: red;
  font-style: italic;
  font-family: "SF UI Text", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu",
    "Cantarell", "Open Sans", sans-serif;
  font-size: 1.2vw;
}

.lv-intro-col1row1txt2,
.lv-intro-col1row4 {
  color: white;
  font-family: "SF UI Text", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu",
    "Cantarell", "Open Sans", sans-serif;
  font-size: 1.2vw;
  text-align: left;
}

.lv-intro-col1row2 {
  color: white;
  font-family: "SF UI Text", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu",
    "Cantarell", "Open Sans", sans-serif;
  font-size: 1.4vw;
  text-align: left;
  text-transform: capitalize;
}

.lv-intro-col1row3hrl {
  width: 28vw;
  border: 1px solid white;
}

.lv-intro-col1row3txt {
  display: grid;
  grid-template-columns: 30% 70%;
}

.lv-intro-col1row3txt2 {
  width: 99%;
  height: 2vw;
  background-color: white;
  color: black;
  text-align: left;
  transform: skewX(-12deg);
  font-family: "SF UI Text", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu",
    "Cantarell", "Open Sans", sans-serif;
  font-size: 1.3vw;
  text-align: center;
  font-weight: 600;
}
